.offcanvas-color {
  background-color: #00BCD4;
  color: #FFFFFF;
  width: 45%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
.custom-underline {
  position: relative;
  display: inline-block;
}
.custom-underline::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: width 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.custom-underline:hover::after {
  width: 100%;
}
.nav-menu {
  width: 100%;
}
.nav-items {
  display: flex;
  justify-content: space-around; /* or space-between */
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item {
  flex: 1;
  text-align: center;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.logo-distance {
  width: 100px;
  margin-right: 240px;
}
@media screen and (max-width: 620px) {
  .logo-distance {
    margin-right: 40px;
  }
}