.content-wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 20px;
  font-size: 30px;
  color: white;
  font-style: oblique;
  font-family: serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

.right-aligned {
  text-align: right;
  margin-left: 300px;
  color: black;
  margin-top: 200px;
}

.left-aligned {
  text-align: left;
  margin-right: 300px;
  color: black;
  margin-top: 200px;
}

.centered {
  text-align: center;
  margin-top: 390px;
}

.text-content {
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.footer-container {
  align-items: center;
  vertical-align: middle;
  margin: auto;
  /* margin-right: -190px; */
}

.btn1 {
  background: linear-gradient(
    135deg,
    #f5deb3,
    #df945e
  ); /* Gradient background with beige (Wheat) and brown (SaddleBrown) */
  color: #fff; /* White text color for contrast */
  border: none; /* Remove default border */
  border-radius: 30px; /* More rounded corners */
  padding: 12px 25px; /* Padding for size */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* Remove default outline */
  font-family: "Courier New", Courier, monospace;
}
.btn1:hover {
  background: linear-gradient(
    135deg,
    #cc9770,
    #f5deb3
  ); /* Invert gradient on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  transform: translateY(-3px); /* Slight lift effect */
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  z-index: 1;
}

/* .banner1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} */

.banner2 {
  width: 100wh;
  height: 100vh;
  position: relative;
}

.footer-logo {
  max-width: 100%; /* Ensure the logo doesn't overflow */
  height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 2000px) {
  .banner2 {
    width: 100wh;
    height: 100vh;
    background-color: black;
  }
}

@media (max-width: 768px) {
  .footer-container {
    margin-top: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-aligned {
    margin: 0;
    text-align: left;
  }
  .right-aligned {
    margin: 0;
    text-align: right;
  }
  .centered {
    margin: 0;
    text-align: center;
  }
  .text-content {
    font-size: 26px;
    color: white;
  }
  .content-wrapper {
    margin-top: 150px;
  }

  .btn1 {
    font-size: 20px;
    margin-top: -150px;
  }
  /* .banner2 {
    aspect-ratio: 2/1;
  } */
}

@media screen and (max-width: 680px) {
  #banner1,
  #banner2,
  #banner3,
  #banner4,
  #banner5,
  #banner6,
  #banner7,
  #banner8,
  #banner9 {
    width: 100%;

    object-fit: cover;
  }
}

@media screen and (max-width: 576px) {
  .btn1 {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .btn1 {
    margin-top: 5px;
  }
}

@media (max-width: 430px) {
  .footer-container {
    margin-top: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-wrapper {
    margin-top: 50px;
  }

  .left-aligned {
    margin: 0;
    text-align: left;
  }
  .right-aligned {
    margin: 0;
    text-align: right;
  }
  .centered {
    margin: 0;
    margin-top: 170px;
    text-align: center;
  }

  .text-content {
    font-size: 28px;
    color: white;
  }

  .btn1 {
    font-size: 10px;
    margin-top: 8px;
  }
  /* .banner2{
  aspect-ratio: 2/1;
 } */
}

@media (max-width: 400px) {
  .footer-container {
    margin-top: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .banner2{
    aspect-ratio: 2/1;
   } */
  .content-wrapper {
    margin-top: 50px;
  }

  .left-aligned {
    margin: 0;
    text-align: left;
  }
  .right-aligned {
    margin: 0;
    text-align: right;
  }
  .centered {
    margin: 0;
    text-align: center;
  }

  .text-content {
    font-size: 14px;
  }

  .btn1 {
    font-size: 15px;
    margin-top: -150px;
  }
}
